<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user.body %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @user.addr %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.DOB %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
